# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
/server/build
acsys.service.config.json
dbase.db

# testing
/coverage

# production
/build
/files
/server/config/config.json

# misc
.DS_Store
.env
.env.development.local
.env.test.local
.env.production.local
.eslintcache

/server/package-lock.json
debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*